<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="form.css">
  <title>Create Todo</title>
</head>
<body>
  
  <form id="createTodo" action="/todos/create" method="post">

    <h1>Create Tasks</h1>

    <label for="title">Title :</label><br>
    <input type="text" id="title" name="title" placeholder="Enter the task name..." autofocus required><br>

    <label for="desc">Description :</label><br>
    <textarea id="desc" name="desc" placeholder="Type task description..." required></textarea>

    <label for="desc">Deadline :</label><br>
    <input type="time" id="dead" name="dead" placeholder="Type task deadline..." required>

    <button type="submit" onclick="SubmitForm('createTodo')">Create Todo</button>
  </form>
</body>
</html>
