<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="profile.css">
</head>
<body>
  <div class="card">
    <h2>User Information</h2>
    <img src="profile.png" alt="John">
    <dl>
      <dt>UserID</dt>
      <dd><%= account[0].id %></dd>

      <dt>UserName</dt>
      <dd><%= account[0].name %></dd>

      <dt>Email</dt>
      <dd><%= account[0].email %></dd>
    </dl>
  </div>
</body>
</html>