<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="form.css">
  <title>Update User</title>
</head>

<body>

  <form id="updatePasswordForm" action="/users/update/password" method="post">

    <input type="hidden" name="_method" value="put" />
    <h1>Update Password</h1>
    
    <label for="OldPassword">Old-Password :</label>
    <input type="password" id="OldPassword" name="OldPassword" placeholder="Enter old password..." autofocus required>

    <label for="NewPassword">New-Password :</label>
    <input type="password" id="NewPassword" name="NewPassword" oninput="setupPasswordStrength()" placeholder="Enter new password..." autofocus required>
    
    <label for="ReEnteredPassword">Confirm-Password :</label>
    <input type="password" id="ReEnteredPassword" name="ReEnteredPassword" placeholder="Re-enter new password..." autofocus required>
    <div id="strength"></div>
    <button type="button" id="submitBtn" onclick="submitForm('updatePasswordForm')">Update User</button>
    
    <p id="errorMessage" style="color: rgb(255, 253, 253);"></p>
    
</form>

</body>
</html>